certifi==2018.11.29
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==3.0.2
mkl-fft==1.0.10
mkl-random==1.0.2
numpy==1.15.4
pyparsing==2.3.0
python-dateutil==2.7.5
six==1.12.0
tqdm==4.28.1
wincertstore==0.2
